.Dictionary section {
  border-radius: 5px;
  padding: 10px;
  background-color: #faf5ff;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  margin: 20px 0;
}
.Dictionary h4 {
  font-size: 25px;
  text-align: left;
  margin: 5px 0;
  margin-bottom: 22px;
}

.inputForm {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #ef59eb;
}
.submitBtn {
  font-size: 22px;
  border: none;
  border-radius: 50%;
  padding: 15px;
  background-color: #ef59eb;
  margin-left: 5px;
}
.Dictionary .hint {
  font-size: 14px;
  margin: 8px;
  margin-top: 5px;
}
