header {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}
h4 {
  text-align: center;
}
