.Meaning h3 {
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
}
.Meaning .definition {
  font-size: 16px;
}
.Meaning .example {
  font-size: 16px;
  color: #ef59eb;
  margin-top: 8px;
  margin-left: 30px;
}
